body{
    margin: 0;
    width: 100%
}
#page{    
    background-color: #D4F8E8;
    margin: auto;
}

header{
    background-color: #1EB2A6;
    margin: 0;
    padding: 25px;
    box-shadow: 0 0 10px #4a4a4a;
}

footer{
    Background-color: #FFA34D;    
    margin: 0;    
    padding: 25px;
}

.container{
    min-width: none;
    max-width: 1440px;    
    margin: auto;
}

#welcome-section{
    box-shadow: 0 0 10px #4a4a4a;
}

#welcome-info{
    align-items: center;
    height: 
}

#nav-box{
    width: 40%;
    margin-left: auto;
}

#nav-list{
    margin: 0;
    padding: 0;
}

li.nav-list {    
    display: inline;
    margin-left: 40px; 
     
}

.title{
    font-size: 1.5em;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 0.15em;
    text-underline-offset: .5em;
    text-decoration: underline;
}

.body-section-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;        
    margin-top: 30px;
    padding: 100px;
}

.body-section-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;        
    margin-top: 30px;
    padding: 100px;
}

.project-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;     
}

/*remove excess space from top project item */
.project-card:nth-child(1){
    margin-top: 0px;
}

.card-text{    
    width: 350px;
    height: 100%;
}
.card-image{
    margin-left: 130px;
    padding: 0px;
    box-shadow: 10px 10px 0px #FFA34D;        
}

.card-button{
    width: 120px;
    height: 40px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1em;
    font-weight:bold;
    color: white;
    background-color:#FFA34D;
    border: 3px solid black;
    border-radius: 5px;    
}

.card-button:hover{
    background-color:#d36907;
}

#skills{
    text-align: center;
}

.skill-icons{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;   
}

.icon{
    width: 60px;
    height: 60px;
    margin: 20px;
}
.icon-test{
    color: black;
    font-size: 5em;
    margin: 20px;
}

#education{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 60px;
}

.education{
    display: inline-block;     
    text-align: center;
    margin: 40px;
}

#contact-form{
    width: 50%;
    margin: auto;
}

#form{
    text-align: center;
}


input, textarea{
    width: 80%;
    padding: 5px;
    border: none;
    margin: 5px;
}

.button{
    width: 120px;
    height: 40px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1em;
    font-weight:bold;
    color: white;
    background-color:#F67575;
    border: 3px solid black;
    border-radius: 5px;    
}

/*** text items ***/

/*removes the 3px margin at the bottom of the images*/
img{
    vertical-align: middle;
}

a:link, a:visited {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#1d1d1d;
    font-size: 1.5em;
    text-decoration: none;
}

a:active {
    font-weight: bold; 
}

a:hover {
    color: white;     
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#FFA34D;
    font-size: 4.5em; 
    letter-spacing: 0.1em;
    margin: 10px;
    text-shadow: 1px 1px 0px black;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4a4a4a;
    font-size: 1.5em;
    margin: 10px;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1d1d1d;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer-text{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #1d1d1d;
}










  