body{
    margin: 0;
    width: 100%
}
#page{    
    background-color: #D4F8E8;
    margin: auto;
}

header{
    background-color: #f67575;
    margin: 0;
    padding: 25px;
    box-shadow: 0 0 10px #4a4a4a;
}

footer{
    Background-color: #FFA34D;    
    margin: 0;    
    padding: 25px;
}

.container{
    min-width: none;
    max-width: 1440px;    
    margin: auto;
}

#nav-box{
    width: 40%;
    margin-left: auto;
}

#nav-list{
    margin: 0;
    padding: 0;
}

li.nav-list {    
    display: inline;
    margin-left: 40px; 
     
}

#welcome-section{
    /*box-shadow: 0 0 10px #4a4a4a;*/
}

#welcome-info{
    align-items: center;
}

#hi{
    margin-bottom: 70px;
}

#main-image{
   
}

.title{
    font-size: 1.5em;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 0.15em;
    text-underline-offset: .5em;
    text-decoration: underline;
}

.body-section-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;        
    margin-top: 30px;
    padding: 100px;
}

.body-section-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;        
    margin-top: 30px;
    padding: 100px;
}

.project-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;     
}

/*remove excess space from top project item */
.project-card:nth-child(1){
    margin-top: 0px;
}

.card-text{    
    width: 350px;
    height: 100%;
}
.card-image{
    margin-left: 130px;
    padding: 0px;
    box-shadow: 10px 10px 0px #FFA34D;        
}

.card-button{
    width: 120px;
    height: 40px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1em;
    font-weight:bold;
    color: white;
    background-color:#FFA34D;
    border: 3px solid black;
    border-radius: 5px;    
}

.card-button:hover{
    background-color:#d36907;
}

.detail-title{
    margin-top: 70px;
}

.detail-title:nth-child(1){
    margin-top: 0px;
}

#about-me{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.about-me-text{
    padding-left: 5px;
    padding-right: 5px;
}

#skills{
    text-align: center;
}

.skill-icons{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;   
}

.icon{
    width: 60px;
    height: 60px;
    margin: 20px;
}

#education{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;   
   
}

.education{
    display: inline-block;     
    text-align: center;
    margin: 30px;    
}

#contact-section{
    align-items: flex-start;
}

#cartoon-me{
    display: block;
    margin: 20px auto;
}

#contact-form{    
    margin: auto;
}

#form{
    text-align: center;      
}

input, textarea{
    width: 80%;
    padding: 5px;
    border: none;
    margin: 5px;
    resize: none;    
    background-color: #f67575;
    
}

.button{
    width: 120px;
    height: 40px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1em;
    font-weight:bold;
    color: white;
    background-color:#f67575;
    border: 3px solid black;
    border-radius: 5px;    
}

.button:hover {
    background-color: #df4141;
}

/*** text items ***/

/*removes the 3px margin at the bottom of the images*/
img{
    vertical-align: middle;
}

a:link, a:visited {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#1d1d1d;
    font-size: 1.5em;
    text-decoration: none;
}

a:active {
    font-weight: bold; 
}

a:hover {
    color: white;        
}

h1 {
    font-family: 'Special Elite', cursive;   
    color:#FFA34D;
    font-size: 4em; 
    letter-spacing: 0.1em;
    margin: 10px; 
    -webkit-text-stroke: .3px #1d1d1d;   
}

/*h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4a4a4a;
    font-size: 1.5em;
    margin: 10px;
}*/

h2{
    font-family: 'Special Elite', cursive;   
    color: #d36907;
    font-size: 1.5em; 
    letter-spacing: 0.1em;
    margin: 10px; 
    -webkit-text-stroke: .1px #1d1d1d; 
     
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1d1d1d;
}

h4{

}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

#footer-text{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #1d1d1d;
}

/* change the place holder text in different browsers */
::placeholder{
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}



/*  media queries  */





  